html(lang='en-US')
  head
    meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
    meta(name='description' content='Reset Password Email Template.')
    style(type='text/css').
      a:hover {text-decoration: underline !important;}
  body(marginheight='0' topmargin='0' marginwidth='0' style='margin: 0px; background-color: #f2f3f8;' leftmargin='0')
    // 100% body table
    table(cellspacing='0' border='0' cellpadding='0' width='100%' bgcolor='#f2f3f8' style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;")
      tbody
        tr
          td
            table(style='background-color: #f2f3f8; max-width:670px;  margin:0 auto;' width='100%' border='0' align='center' cellpadding='0' cellspacing='0')
              tbody
                tr
                  td(style='height:80px;')  
                tr
                  td(style='text-align:center;')
                    a(href='https://rakeshmandal.com' title='logo' target='_blank')
                      img(width='90' src='https://i.ibb.co/jgC8B34/logo-pierre-3.png' title='logo' alt='logo')
                tr
                  td(style='height:20px;')  
                tr
                  td
                    table(width='95%' border='0' align='center' cellpadding='0' cellspacing='0' style='max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);')
                      tbody
                        tr
                          td(style='height:40px;')  
                        tr
                          td(style='padding:0 35px;')
                            h1(style="color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;")
                              | Votre mot de passe a été réinitialisé avec succès
                        tr
                          td(style='height:40px;')  
                tr
                  td(style='height:20px;')  
                tr
                  td(style='text-align:center;')
                    p(style='font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;')
                      | © 
                      strong pierregassin.com
                tr
                  td(style='height:80px;')  
